/* body cs ig */
body {
    background-color: rgb(10, 10, 10);
    font-family: 'Times New Roman', Times, serif;
    font-size: 30px;
    text-align: center
}

/*textbox thingy cs*/ 
.textbox {
  position: absolute;
  right:1em;
  top:10em;
  height: 400px;
  width: 225px;
  background-color: #f8f8f836;
  font-family: 'Courier New', Courier, monospace;
  font-size: small;
}


/*start button*/

.opbutton {
  background: url(file:///C:/Users/yeetm/Desktop/homeowrkjn/CS/CNTRLSHIFTCOMP/imgs/logo0.png) no-repeat;
  cursor: pointer;
  width: 300px;
  height: 200px;
  border: none;
  transition-duration: 0.5s;

  display: block;
  margin-left: 830px;
  margin-right: auto;
  margin-top: 35em;

  filter: blur(4px);
}
.opbutton:hover {
  filter: blur(0px);
}


/*background videos and changing them for the menu */ 
.BG_VIDS {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  z-index: -1;
  filter: blur(15px);
}

/*stops the user from interacting with the actual background video */ 

.vidblock{
  width: 1890px; 
  height: 300px; 
  position: absolute; 
  background:rgba(1, 1, 1, 0);
}
