/*text cs*/
body {
    background-color: rgba(73, 73, 73, 0.418);
    font-family: 'Times New Roman', Times, serif;
    font-size: 30px;
    text-align: center
}


/*triangel thingy cs*/ 
#textbox{
  position: absolute;
  right:1em;
  top:10em;
  height: 400px;
  width: 225px;
  background-color: #f8f8f836;
  font-family: 'Courier New', Courier, monospace;
  font-size: small;
}


/*image cs*/

#opbutton{
  background: url(file:///C:/Users/yeetm/Desktop/homeowrkjn/CS/CNTRLSHIFTCOMP/imgs/logo0.png) no-repeat;
  cursor: pointer;
  width: 300px;
  height: 200px;
  border: none;
  transition-duration: 0.5s;
  
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 35em;

  filter: blur(4px);
}
#opbutton:hover{
  filter: blur(0px);
}